/* beginning nav */
nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 16px;
}

/* mobile responsive navbar */
@media (max-width: 576px)
{
    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }

    .landing {
        background-position: center center; 
        background-size: cover;
        
       
    }
    
}






