body {
    margin: 0px;
    padding: 0px;
}

/* Indivual sections */
section {
    /* width: 100%;
    height: 100%; */
    background-color: rgb(255, 251, 243);
    align-content: center;
}

img {
    width: 50%;
    height: 80%;
}

.main-img {
    background-color: black;
}

.main {
    /* background-color: rgb(146, 146, 146); */
}

/* Makes anything with this class have full height */
.full-height {
    height: 100vh;
}

/* Hides that item */
.hide {
    display: none;
}

/* begin landing page */
.landing {
    background-image: url('../images/room2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center; 
}

/* banner within landing page */
.banner1 h2 {
    font-size: 4em;
    text-align: center;
    padding-top: 10%;
}

.banner1 h3 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 10%;
}

@media (max-width:767px) {
    .banner1 h2 {
        font-size: 3em;
        text-align: center;
        padding-top: 20%;
    }

    .banner1 h3 {
        font-size: 2em;
        text-align: center;
        padding-bottom: 20%;
    }

}